* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: 20px;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title {
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 36pt;
}

.cup {
  position: relative;
  margin: 0 auto;
}

.block {
  position: absolute;
  display: block;
  width: var(--size);
  height: var(--size);
}

.cup_block {
  background-color: darkgoldenrod;
}

.start-button {
  padding: 8px;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
}
