* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: 20px;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding: 20px;
}

.cup {
  position: relative;
  margin: 0 auto;
}

.block {
  position: absolute;
  display: block;
  width: var(--size);
  height: var(--size);
}

.cup_block {
  background-color: darkgoldenrod;
}
